

/* .column {
  float:left ; 
  width: 33%; 
  padding: 1rem; 
} */

.grids {
  max-width: 80%; 
  margin: auto; 
}

.project-card {
  position: relative; 
  width: 520px;
  float: left;
}



.project-card-right {
  float: right; 
  width: 520px; 
  position: relative; 
}

img.project-image {
  display: flex;
  width: 520px; 
  height: 350px;
  margin-bottom: 140px; 
}

.project-details {
  width: 360px;
  float: right;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.project-details-left {
  width: 360px;
  float: left;
  align-items: center;
  justify-content: center;
}



h3.project-title {
  width: 360px;
  text-align: right;
  color: rgb(222, 223, 233);
  font-size: 17pt;
  margin-top: 40px;
}

h3.project-title-left {
  width: 360px;
  text-align: left;
  color: rgb(222, 223, 233);
  font-size: 17pt;
  margin-top: 40px;
}

h3.project-title-planet {
  width: 360px;
  text-align: left;
  color: rgb(222, 223, 233);
  font-size: 17pt;
  margin-top: 10px;
}

.description-container {
  background:rgba(176, 182, 230, 0.267); 
  width: 350px;
  height: 130px;
  margin-left: 10px;
  margin-top: 20px;
}

.description-container-left {
  background:rgba(176, 182, 230, 0.267); 
  width: 350px;
  height: 120px;
  margin-right: 10px;
  margin-top: 20px;
}

.description-container-planet {
  background:rgba(176, 182, 230, 0.267); 
  width: 350px;
  height: 150px;
  margin-right: 10px;
  margin-top: 20px;
}

p.project-description {
  color: #efefef; 
  font-size: 10pt;
  padding: 30px;
  letter-spacing: 1.5pt;
  text-align: right;
  font-family: sans-serif;
  font-weight: 100; 
}

p.project-description-left {
  color: #efefef; 
  font-size: 10pt;
  padding: 30px;
  letter-spacing: 1.5pt;
  text-align: left;
  font-family: sans-serif;
  font-weight: 100; 
}

p.project-description-planet {
  color: #efefef; 
  font-size: 10pt;
  padding: 25px;
  letter-spacing: 1.2pt;
  text-align: left;
  font-family: sans-serif;
  font-weight: 100; 
}

p.project-tech {
  color: #efefef; 
  font-size: 9pt;
  margin-top: 20px;
  word-spacing: 13pt;
  text-align: right;
  font-weight: 100; 
  text-decoration: none;
}

p.project-tech-left {
  color: #efefef; 
  font-size: 9pt;
  margin-top: 20px;
  word-spacing: 12pt;
  text-align: left;
  font-weight: 100; 
  text-decoration: none;
}

.project-links {
  margin-top: 30px;
  text-align: right;
}

.project-links-left {
  margin-top: 30px;
  text-align: left;
}

.project-links a {
  text-decoration: none;
}

.project-links-left a {
  text-decoration: none;
}

p.project-winner {
  font-size: 9pt;
  text-align: center;
  color:rgb(75, 219, 164);
  width: 250px;
  float: right;
}