.icon-bar {
  position: fixed; 
  top: 500px; 
  right: 15px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: #f7f7f7;
  background:#30384e69; 
  font-size: 20px;
}

.icon-bar a:hover {
  color: rgb(123, 187, 199);
}
