@import url('https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700" rel="stylesheet');

.contact-header {
  display: block;
  color: #555C73;
  margin-bottom: 30px;
  font-size: 50pt;
  letter-spacing: 13px;
  margin-top: 180px;
}

.contact-info {
  display: block;
  position: relative;
  color: #555C73;
  font-size: 30pt;
  letter-spacing: 13px;
  margin-top: 60px;
  text-align: center;
}

.contact-info a {
  padding: 15px;
}

