.navbar {
  height: 80px;
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  /* background: transparent;  */
  position: relative;
  top: 0; 
  z-index: 999; 
  margin-bottom: 40px;
}

.navbar-left {
  float: left;
  width: 30%; 
  justify-content: left;
  text-align: left;
  padding-left: 150px; 
  padding-top: 20px; 
}

.navbar-right {
  float: right;
  width: 70%; 
  justify-content: left;
  text-align: left;
  padding-left: 380px;
}




.navbar a {
  text-decoration: none;
  padding: 1.4rem; 
  color: #f7f7f7;
  font-size: 10pt;
  position: relative; 
}

.navbar a:active {
  text-decoration: underline;
}


.navbar a:hover {
  color: rgb(123, 187, 199);
  text-decoration: unset;
}

