@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* height: 300px;  */
	height: max-content;
	background: #041024;
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(155deg, #041024 3%, #192541 22%, #2e374d 40%, #505974 62%, #5d6681 78%, #717a94 100%);
}

html {
	scroll-behavior: smooth;
}

.scrollTop {
	position: fixed;
	width: 100%;
	top: 92vh;
	right: -670px;
	height: 20px;
	z-index: 1000;
	cursor: pointer;
	animation: fadeIn 0.3s;
	transition: opacity 0.4s;
	opacity: 0.5;
}

.scrollTop:hover {
	opacity: 1;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}
